<div class="background ">
  <!-- Texto Cabeçario -->
  <p class="headerNome">Livraria online</p>

    <div class="container" [ngClass]="{'right-panel-active': isRightPanelActive}">
      <!-- Registrar -->
      <div class="form-container sign-up-container">
        <form (ngSubmit)="onRegistrar()" [formGroup]="registrarForm">
          <h1>Criar conta</h1>
          <span>use seu nome de usuário e senha</span>
          <input type="email" placeholder="Email professor" formControlName="usuarioProfessor"/>
          <input type="number" placeholder="CPF ou CNPJ" formControlName="numeroDocumento"/>
          <input type="password" placeholder="Senha" formControlName="senhaProfessor"/>
          <input type="hidden" formControlName="isAdmin" value="false"/> <!-- Campo oculto para admin -->
          <input type="hidden" formControlName="idAtivo" value="1"/> <!-- Campo oculto para idAtivo -->
          <div class="botoes-container">
            <button class="btn btn-primary" type="submit" [disabled]="registrarForm.invalid">Registrar</button>
            <button class="btn btn-secondary" type="button" (click)="signIn()">Voltar</button>
          </div>
        </form>
      </div>

      <!-- Entrar -->
      <div class="form-container sign-in-container">
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
          <h1>Login</h1>
          <span>use sua conta de e-mail</span>
          <input type="email" placeholder="Email" formControlName="email"/>
          <input type="password" placeholder="Password" formControlName="password"/>
          <div class="botoes-container">
            <button class="btn btn-primary " type="submit">Entrar</button>
          </div>
          <a class="corLetra" [routerLink]="'/resetar-senha'">Esqueceu sua senha?</a>
        </form>
      </div>

      <!-- Informações visuais escrita -->
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Bem-vindo de Volta!</h1>
            <p>Para continuar conectado conosco, faça login com suas informações pessoais</p>
            <div class="botoes-container">
              <button class="btn btn-secondary" (click)="signIn()">Entrar</button>
            </div>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Bem-vindo!</h1>
            <p>Parece que você ainda não se registrou em nosso sistema. Para aproveitar todos os benefícios e recursos que oferecemos, por favor, preencha seus dados pessoais e inicie sua jornada conosco!</p>
            <button class="btn btn-secondary" (click)="signUp()">Cadastrar</button>
        </div>

        </div>
      </div>

  </div>
</div>
