<!-- Sidebar para Desktop -->
<div id="menu" *ngIf="!isMobile && showSidebar" [class.expanded]="menuExpanded">
  <div class="menu-inner">
    <p class="titulo">Livraria Online</p>
    <ul>
      <li  [routerLink]="['/search/registrar-aluno']" routerLinkActive="active-link">
        <i class="bi bi-person-plus"></i>Registrar Aluno
      </li>
      <li  [routerLink]="['/search/registrar-livro']" routerLinkActive="active-link">
        <i class="bi bi-journal-plus"></i>Adicionar Livro
      </li>
      <li  [routerLink]="['/search/alunos-cadastrados']" routerLinkActive="active-link">
        <i class="bi bi-people"></i>Lista de Alunos
      </li>
      <li  [routerLink]="['/search/livros-cadastrados']" routerLinkActive="active-link">
        <i class="bi bi-journals"></i>Livros Cadastrados
      </li>
      <li  [routerLink]="['/search/atribuir']" routerLinkActive="active-link">
        <i class="bi bi-pencil-square"></i>Atribuir Livro ao Aluno
      </li>
      <li  [routerLink]="['/search/atribuido']" routerLinkActive="active-link">
        <i class="bi bi-journal-check"></i>Livros Atribuídos ao Aluno
      </li>
      <li  [routerLink]="['/search/informacao']" routerLinkActive="active-link">
        <i class="bi bi-info-circle"></i>Informações Gerais
      </li>
      <li  [routerLink]="['/login']" routerLinkActive="active-link">
        <i class="bi bi-box-arrow-left"></i>Sair
      </li>
    </ul>
  </div>
</div>

<!-- Navbar para Mobile -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" *ngIf="isMobile && showSidebar">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/search/livros-cadastrados']" routerLinkActive="active-link">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/search/registrar-aluno']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-person-plus"></i>Registrar Aluno
        </a>
        <a class="nav-link" [routerLink]="['/search/registrar-livro']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-journal-plus"></i>Adicionar Livro
        </a>
        <a class="nav-link" [routerLink]="['/search/alunos-cadastrados']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-people"></i>Lista de Alunos
        </a>
        <a class="nav-link" [routerLink]="['/search/livros-cadastrados']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-journals"></i>Livros Cadastrados
        </a>
        <a class="nav-link" [routerLink]="['/search/atribuir']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-pencil-square"></i>Atribuir Livro ao Aluno
        </a>
        <a class="nav-link" [routerLink]="['/search/atribuido']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-journal-check"></i>Livros Atribuídos ao Aluno
        </a>
        <a class="nav-link" [routerLink]="['/search/informacao']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-info-circle"></i>Informações Gerais
        </a>
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
          <i class="bi bi-box-arrow-left"></i>Sair
        </a>
      </div>
    </div>

  </div>
</nav>


