<div id="menu">


  <div class="menu-inner">
    <p class="titulo">Livraria Online</p>
    <ul>
      <li aria-current="true" [routerLink]="['/search/registrar-aluno']" routerLinkActive="active-link"><i class="bi bi-person-plus"></i>Registrar Aluno</li>
      <li aria-current="true" [routerLink]="['/search/registrar-livro']" routerLinkActive="active-link"><i class="bi bi-journal-plus"></i>Adicionar Livro</li>
      <li aria-current="true" [routerLink]="['/search/alunos-cadastrados']" routerLinkActive="active-link"><i class="bi bi-people"></i>Lista de Alunos</li>
      <li aria-current="true" [routerLink]="['/search/livros-cadastrados']" routerLinkActive="active-link"><i class="bi bi-journals"></i>Livros Cadastrados</li>

      <li aria-current="true" [routerLink]="['/search/atribuir']" routerLinkActive="active-link"><i class="bi bi-pencil-square"></i>Atribuir Livro ao Aluno</li>
      <li aria-current="true" [routerLink]="['/search/atribuido']" routerLinkActive="active-link"><i class="bi bi-journal-check"></i>Livros Atribuídos ao Aluno</li>
      <li aria-current="true" [routerLink]="['/search/informacao']" routerLinkActive="active-link"><i class="bi bi-info-circle"></i>Informações Gerais</li>

      <li aria-current="true" [routerLink]="['/login']" routerLinkActive="active-link" (click)="logout()"><i class="bi bi-box-arrow-left"></i>Sair</li>
    </ul>
  </div>

  <svg version="1.1" id="blob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
  </svg>
</div>
