<div class="tela">
  <p class="titulo">Informações da Aplicação</p>
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <div class="num">01</div>
      <a class="card">
        <div>
          <h1>Alunos</h1>
          <p>Os alunos podem ser registrados no sistema e associados a livros pelo professor.
            Serão armazenados dados como a data de registro, o nome do livro e a disponibilidade dos mesmos.</p>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">02</div>
      <a class="card">
        <div>
          <h1>Professores</h1>
          <p>Os professores têm a capacidade de registrar alunos no sistema e atribuí-los aos livros desejados.
            Eles têm acesso total às funcionalidades da aplicação, permitindo realizar modificações e atribuições conforme necessário.</p>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num">03</div>
      <a class="card">
        <div>
          <h1>Livros</h1>
          <p>Os livros são adicionados e configurados no sistema pelos professores.
            Cada livro deve ter sua quantidade definida para que possa ser atribuído aos alunos, considerando a disponibilidade dos mesmos.</p>
        </div>
      </a>
    </div>
  </section>
</div>

<!-- SETA -->
<div class="graph__wrapper seta">
  <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5"
            stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81"/>
        <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81"/>
        <polyline id="arrow" points="0,-9 18,0 0,9 5,0" fill="#db5862">
            <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="1" fill="freeze">
                <mpath xlink:href="#Path-1" />
            </animateMotion>
        </polyline>
      </g>
  </svg>
</div>
