<div class="tela">
  <p class="titulo">Informações Gerais</p>
	<section class="sessao">
		<div class="container">

        <!-- ALUNOS -->
			<div class="card">
				<div class="content">
					<span class="aluno"></span>
					<div class="contentBx">
						<h3>Alunos<br></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a>Os alunos podem ser registrados no sistema e associados a livros pelo professor.
              Serão armazenados dados como a data de registro, o nome do livro e a disponibilidade dos mesmos.</a>
					</li>
				</ul>
			</div>

      <!-- LIVROS -->
      <div class="card">
				<div class="content">
					<span class="livro"></span>
					<div class="contentBx">
						<h3>Livros<br></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a>Os livros são adicionados e configurados no sistema pelos professores.
              Cada livro deve ter sua quantidade definida para que possa ser atribuído aos alunos, considerando a disponibilidade dos mesmos.</a>
					</li>
				</ul>
			</div>

      <!-- MANUAIS -->
      <div class="card">
        <div class="content">
          <span class="manual"></span>
          <div class="contentBx">
            <h3>Manual<br></h3>
          </div>
        </div>
        <ul class="sci">
          <li>
            <a>Consulte os manuais do sistema com orientações essenciais para uso e configuração. Selecione o formato
              que preferir para visualizar o documento.</a>
              <!-- Botão para visualizar o PDF em uma nova aba -->
            <button disabled class="btn btn-primary" onclick="window.open('../../../assets/manual-do-usuario.pdf', '_blank')"> Visualizar PDF </button>

            <!-- Botão para visualizar o WORD em uma nova aba -->
            <button disabled class="btn btn-primary espaco" onclick="window.open('../../../assets/manual-do-usuario.docx', '_blank')"> Visualizar Word </button>
          </li>
        </ul>
      </div>

      <!-- PROFESSORES -->
			<div class="card">
				<div class="content">
					<span class="professor"></span>
					<div class="contentBx">
						<h3>Professores<br></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a>Os professores têm a capacidade de registrar alunos no sistema e atribuí-los aos livros desejados.
              Eles têm acesso total às funcionalidades da aplicação, permitindo realizar modificações e atribuições conforme necessário.</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

 <!-- SETA PARA ROLAR A PÁGINA PARA BAIXO -->
 <div class="arrow-container">
  <a  (click)="scrollDown()">
    <p class="arrow-text">Clique</p> <!-- Texto acima da seta -->
    <div class="arrow"></div>
  </a>
</div>
