<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h6>Sobre</h6>
        <p class="text-justify">biblioteca-online-delta.vercel.app é uma iniciativa para ajudar os professores na organização de seus livros na escola. A Livraria Online foca em fornecer um código simples, mas eficiente, para facilitar a organização. Nosso objetivo é apoiar os professores com suas tarefas diárias, oferecendo uma solução virtual que funcione como uma biblioteca.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categorias</h6>
        <ul class="footer-links">
          <li>Gerenciamento de Livros.</li>
          <li>Gerenciamento de Alunos.</li>
          <li>Organização e Atribuição.</li>
          <li>Execução Simplificada.</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-4">
        <h6>Contato</h6>
        <ul class="footer-links">
          <li>Telefone: (11) 96393 - 1495</li>
          <li>Email: gustavomarques178&#64;hotmail.com</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 Todos os direitos reservados por
          <a href="https://www.instagram.com/gustavo.gomes.marques/" target="_blank">Gustavo Gomes Marques</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a href="https://wa.me/5511963931495" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=gustavomarques178@hotmail.com" target="_blank" class="emailContato" title="Clique para enviar um e-mail"><i class="bi bi-envelope"></i></a></li>
          <li><a href="https://www.instagram.com/gustavo.gomes.marques/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
