<div class="background">
  <!-- Texto Cabeçario -->
  <h2 class="headerNome">Livraria online</h2>

  <div class="container" [ngClass]="{'right-panel-active': isRightPanelActive}">

  <!-- Resetar -->
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onResetar()" [formGroup]="resetarForm">
      <h1>Resetar Senha</h1>
      <span class="text">Use sua conta de e-mail e um documento!</span>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail" required autocomplete="new-password">
      <input type="text" class="form-control" id="numeroDocumento" formControlName="numeroDocumento" placeholder="CPF ou CNPJ" required>

      <div class="botoes-container">
        <button class="btn btn-secondary" type="button" [routerLink]="'/login'" [disabled]="isSubmitting"><a>Cancelar</a></button>
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">
          <a *ngIf="!isSubmitting">Resetar</a>
          <a *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></a>
          <a *ngIf="isSubmitting"> Enviando...</a>
        </button>
      </div>
    </form>
  </div>

    <!-- Informações visuais escrita -->
    <div class="overlay-container">
      <div class="overlay">
          <div class="overlay-panel overlay-right">
          <h1>Olá, Amigo!</h1>
          <p>Insira seus dados pessoais para receber a nova senha em eu E-mail</p>
        </div>
      </div>
    </div>
  </div>
</div>
